/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #dff3ff;
    color: #23445c;
    line-height: 1.6;
}

/* HEADER */
header {
    background: linear-gradient(
        rgba(0, 76, 150, 0.90),
        rgba(0, 119, 190, 0.85)
    ),
    url("foto-makanan.jpg");

    background-size: cover;
    background-position: center;

    color: white;
    text-align: center;
    padding: 55px 20px 45px;
}

header h1 {
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

/* NAVIGASI */
nav {
    background: #005b9f;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    background: #168de2;
}

nav a.active {
    background: #168de2;
}

/* MAIN */
main {
    max-width: 1100px;
    margin: 45px auto;
    padding: 0 20px;
}

/* KARTU PROFIL */
.profil-card {
    background: white;
    border-radius: 18px;
    padding: 30px;
    box-shadow: 0 8px 25px rgba(0, 80, 130, 0.15);
}

.profil-card > h2 {
    color: #005b9f;
    font-size: 30px;
    margin-bottom: 25px;
}

/* CONTENT */
.profil-content {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 30px;
    align-items: start;
}

/* FOTO */
.foto-container {
    width: 100%;
}

.foto-container img {
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 14px;
    display: block;
    box-shadow: 0 5px 15px rgba(0, 70, 120, 0.20);
}

/* TEKS */
.profil-text h2 {
    color: #0064a8;
    margin-bottom: 8px;
    margin-top: 5px;
    font-size: 24px;
}

.profil-text p {
    margin-bottom: 18px;
    font-size: 16px;
}

.profil-text ul {
    padding-left: 25px;
}

.profil-text li {
    margin-bottom: 8px;
}

/* FOOTER */
footer {
    background: #005b9f;
    color: white;
    text-align: center;
    padding: 18px;
    margin-top: 40px;
}

/* RESPONSIVE UNTUK HP */
@media (max-width: 768px) {

    header h1 {
        font-size: 27px;
    }

    header p {
        font-size: 15px;
    }

    nav a {
        padding: 12px 14px;
        font-size: 14px;
    }

    .profil-content {
        grid-template-columns: 1fr;
    }

    .foto-container img {
        height: 300px;
    }

    .profil-card {
        padding: 20px;
    }
}